### EDA on Kaggle

- https://www.kaggle.com/vanguarde/h-m-eda-first-look
- https://www.kaggle.com/gpreda/h-m-eda-and-prediction
- https://www.kaggle.com/remekkinas/h-m-eda-first-look-into-data
- https://www.kaggle.com/vickeytomer/h-m-eda-exploration
- https://www.kaggle.com/negoto/best-selling-items-catalog-like-eda-of-articles

In [1]:
import pandas as pd

In [2]:
#read transaction.csv
transaction_raw = pd.read_csv("../data/transactions_train.csv")

In [3]:
transaction_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ GB

In [4]:
transaction_raw.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [6]:
#check start date and last date
print("Start date:", transaction_raw.t_dat.min())
print("Last date:", transaction_raw.t_dat.max())

Start date: 2018-09-20
Last date: 2020-09-22

In [14]:
#get data between 2019-5-1 and 2019-8-1
transaction_raw.t_dat = pd.to_datetime(transaction_raw.t_dat)
mask = (transaction_raw.t_dat >= '2019-05-01') & (transaction_raw.t_dat <= '2019-08-01')
transaction_raw_2019 = transaction_raw.loc[mask].reset_index(drop=True)

In [15]:
transaction_raw_2019

,t_dat,customer_id,article_id,price,sales_channel_id
0,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,524061003,0.050831,2
1,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,735404001,0.050831,2
2,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,700370004,0.016932,2
3,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,618800001,0.033881,2
4,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,731407001,0.016932,2
...,...,...,...,...,...
5326381,2019-08-01,fff613e0adf409bc8acf40c7eabb40f377c7d4f7b12f61...,719209001,0.016932,2
5326382,2019-08-01,fff613e0adf409bc8acf40c7eabb40f377c7d4f7b12f61...,720426001,0.025407,2
5326383,2019-08-01,fff613e0adf409bc8acf40c7eabb40f377c7d4f7b12f61...,713199001,0.033881,2
5326384,2019-08-01,fff613e0adf409bc8acf40c7eabb40f377c7d4f7b12f61...,739590002,0.016932,2
5326385,2019-08-01,fff887d056fff68679d6e2491588ee4e83e57bf077ca7a...,713774006,0.022017,1

In [21]:
#the number of customers and the number of items they purchase
print("Number of customers:",transaction_raw_2019.customer_id.nunique())
print("Total number of purchased items:", len(transaction_raw_2019))
#transaction_raw_2019.customer_id.value_counts()

Number of customers: 562225
Total number of purchased items: 5326386

In [24]:
#number of uniuqe items purchased in 2019 summer
print("Number of unique items:", transaction_raw_2019.article_id.nunique())
#transaction_raw_2019.article_id.value_counts()

Number of unique items: 44117

In [33]:
#Top-20 selling article IDs
freq_cnt = transaction_raw_2019.article_id.value_counts()
top20_article_id = list(freq_cnt.index[0:20])
top20_article_id

[759871002,
 554479005,
 599580017,
 688537004,
 684209004,
 656763001,
 739144003,
 688537011,
 351484002,
 612481002,
 720137001,
 739144004,
 758064001,
 554479001,
 739144007,
 739590002,
 610776002,
 706016002,
 706016001,
 747939002]

In [5]:
%%time

article_raw = pd.read_csv("../data/articles.csv")
customer_raw = pd.read_csv("../data/customers.csv")
sample_sub_raw = pd.read_csv("../data/sample_submission.csv")
transaction_raw = pd.read_csv("../data/transactions_train.csv")

CPU times: user 34.3 s, sys: 10.1 s, total: 44.4 s
Wall time: 47.9 s

## 1. article.csv

- What are the features and their data type? 
- Percentage of missing data, how to handle missing data.
- How do features relate to each other?
- How should we consider or use the features for predictions/product recommendations?

In [ ]:
article_raw.head()

## 2. customers.csv

In [ ]:
customer_raw.head()

## 3. transactions_train.csv

In [ ]:
transaction_raw.head()

## 4. sample_submission.csv

In [ ]:
sample_sub_raw.head()