### EDA on Kaggle

- https://www.kaggle.com/vanguarde/h-m-eda-first-look
- https://www.kaggle.com/gpreda/h-m-eda-and-prediction
- https://www.kaggle.com/remekkinas/h-m-eda-first-look-into-data
- https://www.kaggle.com/vickeytomer/h-m-eda-exploration
- https://www.kaggle.com/negoto/best-selling-items-catalog-like-eda-of-articles

In [3]:
import pandas as pd

## 1. transactions_train.csv

In [4]:
%%time
#read transaction.csv
transaction_raw = pd.read_csv("../data/large_data/transactions_train.csv")

Wall time: 26.4 s

In [5]:
transaction_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ GB

In [6]:
transaction_raw.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [7]:
#check start date and last date
print("Start date:", transaction_raw.t_dat.min())
print("Last date:", transaction_raw.t_dat.max())

Start date: 2018-09-20
Last date: 2020-09-22

In [8]:
#Convert t_dat to datetime 
transaction_raw['t_dat'] = pd.to_datetime(transaction_raw['t_dat'])

In [9]:
#add year, month, and week column
transaction_raw['year'] = transaction_raw['t_dat'].dt.isocalendar().year
transaction_raw['month'] = transaction_raw['t_dat'].dt.month
transaction_raw['week'] = transaction_raw['t_dat'].dt.week

C:\Users\kchen\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

In [10]:
transaction_raw.head()

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,week
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018,9,38
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,2018,9,38
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,2018,9,38
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,2018,9,38
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,2018,9,38

In [11]:
#count number of transactions for each year
transaction_raw.year.value_counts()

2019    16361525
2020    11039440
2018     4387359
Name: year, dtype: Int64

In [12]:
#count number of transactions for each month
transaction_raw.month.value_counts()

6     3670709
7     3158996
5     2922134
4     2817336
9     2620223
10    2543812
8     2490722
11    2468652
1     2339825
3     2334502
12    2267142
2     2154271
Name: month, dtype: int64

In [13]:
#Extract 2019 Summer (5,6,7) data
mask = (transaction_raw.year == 2019) & (transaction_raw.month >= 5) & (transaction_raw.month <= 7)
transaction_2019_summer = transaction_raw.loc[mask]
transaction_2019_summer

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,week
9590349,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,524061003,0.050831,2,2019,5,18
9590350,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,735404001,0.050831,2,2019,5,18
9590351,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,700370004,0.016932,2,2019,5,18
9590352,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,618800001,0.033881,2,2019,5,18
9590353,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,731407001,0.016932,2,2019,5,18
...,...,...,...,...,...,...,...,...
14864359,2019-07-31,ffdb44f83b6d23c1c9f805f5084392db7d4ff850df1373...,751989001,0.025407,2,2019,7,31
14864360,2019-07-31,ffe4bd3f42225fb51da4fe110a0fb2519efef670ff07ee...,757811001,0.013542,1,2019,7,31
14864361,2019-07-31,ffe4bd3f42225fb51da4fe110a0fb2519efef670ff07ee...,806388002,0.006763,1,2019,7,31
14864362,2019-07-31,fff221aba935ab52c5aeda592994e298c8170b2656b0e5...,759231002,0.059305,2,2019,7,31
14864363,2019-07-31,fff221aba935ab52c5aeda592994e298c8170b2656b0e5...,706637001,0.024390,2,2019,7,31

In [14]:
#check the week number in 2019 summer data
transaction_2019_summer.week.unique()

array([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype=int64)

In [15]:
#count number of transaction each week
transaction_2019_summer.week.value_counts()

26    562990
25    560076
30    471866
27    429526
22    407801
28    374637
29    371077
21    357346
20    340916
23    335091
24    327337
18    291779
19    283185
31    160388
Name: week, dtype: int64

## 2. articles.csv

In [16]:
%%time

article_raw = pd.read_csv("../data/large_data/articles.csv")

Wall time: 619 ms

In [17]:
article_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

In [18]:
article_raw

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,953450001,953450,5pk regular Placement1,302,Socks,Socks & Tights,1010014,Placement print,9,Black,...,Socks Bin,F,Menswear,3,Menswear,26,Men Underwear,1021,Socks and Tights,Socks in a fine-knit cotton blend with a small...
105538,953763001,953763,SPORT Malaga tank,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,2,H&M+,1005,Jersey Fancy,Loose-fitting sports vest top in ribbed fast-d...
105539,956217002,956217,Cartwheel dress,265,Dress,Garment Full body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,"Short, A-line dress in jersey with a round nec..."
105540,957375001,957375,CLAIRE HAIR CLAW,72,Hair clip,Accessories,1010016,Solid,9,Black,...,Small Accessories,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,Large plastic hair claw.
105541,959461001,959461,Lounge dress,265,Dress,Garment Full body,1010016,Solid,11,Off White,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,Calf-length dress in ribbed jersey made from a...

In [19]:
#merge 2019 summer transactions and article csv
transaction_2019summer_articles = pd.merge(transaction_2019_summer, article_raw, on="article_id", how="left")

In [20]:
transaction_2019summer_articles

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,week,product_code,prod_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,524061003,0.050831,2,2019,5,18,524061,s,...,Denim Other Garments,D,Divided,2,Divided,57,Ladies Denim,1016,Trousers Denim,Short 5-pocket skirt in washed stretch denim w...
1,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,735404001,0.050831,2,2019,5,18,735404,Melrose,...,Dress,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1013,Dresses Ladies,"Calf-length, V-neck dress in woven fabric with..."
2,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,700370004,0.016932,2,2019,5,18,700370,Cash Padded Balconette,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace balconette bra with moulded, lightly padd..."
3,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,618800001,0.033881,2,2019,5,18,618800,Leona,...,Blouse,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1010,Blouses,V-neck satin top with a lace trim at the top a...
4,2019-05-01,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,731407001,0.016932,2,2019,5,18,731407,Macarena,...,Blouse,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1010,Blouses,Top in a crinkled viscose weave with a V-neck ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5274010,2019-07-31,ffdb44f83b6d23c1c9f805f5084392db7d4ff850df1373...,751989001,0.025407,2,2019,7,31,751989,Lace body,...,Jersey Fancy DS,D,Divided,2,Divided,58,Divided Selected,1005,Jersey Fancy,Wrapover body in cotton jersey with lace trims...
5274011,2019-07-31,ffe4bd3f42225fb51da4fe110a0fb2519efef670ff07ee...,757811001,0.013542,1,2019,7,31,757811,Barry Tee,...,Jersey Fancy,F,Menswear,3,Menswear,55,Contemporary Street,1005,Jersey Fancy,T-shirt in cotton jersey with a ribbed neckline.
5274012,2019-07-31,ffe4bd3f42225fb51da4fe110a0fb2519efef670ff07ee...,806388002,0.006763,1,2019,7,31,806388,Therese tee,...,Basic 1,D,Divided,2,Divided,51,Divided Basics,1002,Jersey Basic,Wide T-shirt in soft cotton jersey with a ribb...
5274013,2019-07-31,fff221aba935ab52c5aeda592994e298c8170b2656b0e5...,759231002,0.059305,2,2019,7,31,759231,Amalfi,...,Dress,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1013,Dresses Ladies,"Maxi dress in a striped weave with a wide, ela..."
5274014,2019-07-31,fff221aba935ab52c5aeda592994e298c8170b2656b0e5...,706637001,0.024390,2,2019,7,31,706637,Lyon dress,...,Dress,A,Ladieswear,1,Ladieswear,6,Womens Casual,1013,Dresses Ladies,"Knee-length, off-the-shoulder dress in a plume..."

In [21]:
transaction_2019summer_articles.index_group_name.value_counts()

Ladieswear       3554714
Divided          1146719
Menswear          286347
Sport             157728
Baby/Children     128507
Name: index_group_name, dtype: int64

In [22]:
customer_buy_group = transaction_2019summer_articles.groupby('customer_id')['index_group_name'].unique()
customer_buy_group

customer_id
00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657    [Baby/Children, Ladieswear, Divided]
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa                   [Divided, Ladieswear]
00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2c5feb1ca5dff07c43e                                 [Sport]
0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d8cd0c725276a467a2a                            [Ladieswear]
00007d2de826758b65a93dd24ce629ed66842531df6699338c5570910a014cc2                   [Ladieswear, Divided]
                                                                                    ...
ffff61677073258d461e043cc9ed4ed97be5617a920640ff61024f4619bf41c4                            [Ladieswear]
ffff8f9ecdce722b5bab97fff68a6d1866492209bfe5242c50d2a10a652fb5ef                            [Ladieswear]
ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e4747568cac33e8c541831                            [Ladieswear]
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7                     [Divided, Menswear]
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264                               [Divided]
Name: index_group_name, Length: 559625, dtype: object

## Check among customers who bought Menswear items also bought what other category

In [39]:
index_group_count = {'Menswear':0, 'Ladieswear':0, 'Divided':0, 'Sport':0, 'Baby/Children': 0}
for cid, groups in customer_buy_group.items():
    if 'Menswear' in groups:
        for group_name in list(groups):
            index_group_count[group_name] += 1
index_group_count

{'Baby/Children': 9427,
 'Divided': 46923,
 'Ladieswear': 66738,
 'Menswear': 80081,
 'Sport': 11808}

## Subset Menswear data

In [31]:
mask = transaction_2019summer_articles.index_group_name == 'Menswear'
transaction_2019summer_menswear = transaction_2019summer_articles.loc[mask]
transaction_2019summer_menswear

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,week,product_code,prod_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
60,2019-05-01,00357b192b81fc83261a45be87f5f3d59112db7d117513...,743719001,0.050831,2,2019,5,18,743719,Kate Sneaker,...,Shoes,F,Menswear,3,Menswear,27,Men Shoes,1020,Shoes,Cotton canvas trainers with a padded edge and ...
140,2019-05-01,0083ee250b3845008465de0e938d0ed2ae4f5bfde8b56e...,507431031,0.015237,2,2019,5,18,507431,Wet Tee,...,Jersey inactive from s1,F,Menswear,3,Menswear,55,Contemporary Street,1005,Jersey Fancy,T-shirt in hard-washed slub cotton jersey with...
141,2019-05-01,0083ee250b3845008465de0e938d0ed2ae4f5bfde8b56e...,378447036,0.054220,2,2019,5,18,378447,V-Neck Milan TVP,...,Knitwear,F,Menswear,3,Menswear,23,Men Suits & Tailoring,1003,Knitwear,Jumper in fine-knit merino wool with a V-neck ...
142,2019-05-01,0083ee250b3845008465de0e938d0ed2ae4f5bfde8b56e...,657850001,0.030492,2,2019,5,18,657850,KANE,...,Knitwear,F,Menswear,3,Menswear,20,Contemporary Smart,1003,Knitwear,Jumper in a textured-knit wool blend with long...
143,2019-05-01,0083ee250b3845008465de0e938d0ed2ae4f5bfde8b56e...,598755015,0.013542,2,2019,5,18,598755,Taz Tee,...,Light Basic Jersey,F,Menswear,3,Menswear,26,Men Underwear,1002,Jersey Basic,"Long, round-necked T-shirt in soft jersey with..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5273975,2019-07-31,ffc55f51a8636d9cc7b2834ae0886b1136a71a80124836...,736769005,0.006695,2,2019,7,31,736769,Parker tanktop,...,Jersey Fancy,F,Menswear,3,Menswear,21,Contemporary Casual,1005,Jersey Fancy,Vest top in cotton jersey with a print motif.
5273976,2019-07-31,ffc55f51a8636d9cc7b2834ae0886b1136a71a80124836...,736769005,0.006695,2,2019,7,31,736769,Parker tanktop,...,Jersey Fancy,F,Menswear,3,Menswear,21,Contemporary Casual,1005,Jersey Fancy,Vest top in cotton jersey with a print motif.
5273978,2019-07-31,ffc64655379797b426ef5a5be86332e901b916c1e55ab0...,663793009,0.022864,1,2019,7,31,663793,Mischa 3pk Basic,...,Underwear Jersey,F,Menswear,3,Menswear,26,Men Underwear,1017,"Under-, Nightwear",Briefs in stretch cotton jersey with flatlock ...
5273979,2019-07-31,ffc64655379797b426ef5a5be86332e901b916c1e55ab0...,501619019,0.022864,1,2019,7,31,501619,Victory voile shirt,...,Shirt,F,Menswear,3,Menswear,20,Contemporary Smart,1011,Shirts,Shirt in an airy cotton weave with a turn-down...
5274011,2019-07-31,ffe4bd3f42225fb51da4fe110a0fb2519efef670ff07ee...,757811001,0.013542,1,2019,7,31,757811,Barry Tee,...,Jersey Fancy,F,Menswear,3,Menswear,55,Contemporary Street,1005,Jersey Fancy,T-shirt in cotton jersey with a ribbed neckline.

In [32]:
#check weekly amount of transactions
transaction_2019summer_menswear.week.value_counts()

26    33027
25    29118
30    25956
27    25914
22    22464
28    21961
29    20902
21    18696
23    17315
20    16647
24    16619
18    16320
19    13170
31     8238
Name: week, dtype: int64

In [ ]:
#save menswear data to csv
#transaction_2019summer_menswear.to_csv("../data/large_data/transaction_2019_567_Menswear.csv")

In [11]:
## Consine similarity vs. euclidean distance
import numpy as np
from sklearn.metrics.pairwise import euclidean_distances, cosine_similarity

m = np.array([[0,0.2,0],
              [0,0.8,0]])

print(euclidean_distances(m, m))
print(cosine_similarity(m))

[[0.  0.6]
 [0.6 0. ]]
[[1. 1.]
 [1. 1.]]

In [5]:
from scipy.spatial import distance
a = (0, 1, 0, 1)
b = (1, 0, 1, 0)

print(distance.euclidean(a, b))

2.0