In [1]:
import pandas as pd
import numpy as np
import collaborative_filter as cf

In [ ]:
#Task: Perform collaborative filterin vs. top-selling items recommendations for each month
#Training data: Sample first 100K transation history of 1st-7th day and 15th-21st day of every month
#Testing data: data from 8th-14th and 22nd-28th day of every month

In [5]:
%%time
transaction_raw = pd.read_csv("../data/transactions_train.csv")
transaction_raw.head(2)

CPU times: user 29.1 s, sys: 8.29 s, total: 37.4 s
Wall time: 41.1 s

In [6]:
transaction_raw

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [11]:
#2018-10-01, 2018-10-07 Train_1
#2018-10-08, 2018-10-14 Test_2
#2018-10-15, 2018-10-21 Train_1
#2018-10-22, 2018-10-28 Test_2

#2020-08-01, 2020-08-07 Train_1
#2020-08-08, 2020-08-14 Test2
#2020-08-15, 2020-08-21 Train_1
#2020-08-22, 2020-08-28 Test_2

eval_month = ['2018-10','2018-11','2018-12','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07',
                    '2019-09','2019-10','2019-11','2019-12','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06',
                    '2020-07','2020-08']
traintest_day = ['01','07','08','14','15','21','22','28']

In [12]:
print(eval_month[0]+'-'+traintest_day[0])

2018-10-01

In [34]:
mask_train = (transaction_raw.t_dat >= eval_month[0]+'-'+traintest_day[0]) & \
            (transaction_raw.t_dat <= eval_month[0]+'-'+traintest_day[1])
X_train = transaction_raw.loc[mask_train].reset_index(drop=True)[['customer_id','article_id']]

mask_test = (transaction_raw.t_dat >= eval_month[0]+'-'+traintest_day[2]) & \
            (transaction_raw.t_dat <= eval_month[0]+'-'+traintest_day[3])
X_test = transaction_raw.loc[mask_test].reset_index(drop=True)[['customer_id','article_id']]

In [36]:
MAP12_cf = cf.MAP(recommend_items, X_test)
MAP12_cf

100%|██████████████████████████████████████| 1373/1373 [00:09<00:00, 144.81it/s]

Number of users: 262

0.002878085654803213

In [37]:
MAP12_cf

100%|██████████████████████████████████████| 1373/1373 [00:09<00:00, 151.85it/s]

Number of users: 262

0.0025445292620865138

In [35]:
for user, recommend_Items in recommend_items.items():
    if len(recommend_Items) < 12:
        print("Items < 12")

In [7]:
mask_train = (transaction_raw.t_dat >= '2019-05-01') & (transaction_raw.t_dat <= '2019-05-10')
X_train = transaction_raw.loc[mask_train].reset_index(drop=True)[['customer_id','article_id']]
mask_test = (transaction_raw.t_dat >= '2019-05-01') & (transaction_raw.t_dat <= '2019-05-10')
X_test = transaction_raw.loc[mask_test].reset_index(drop=True)[['customer_id','article_id']]


recommend_items = cf.all_user_collaborative_filter(X_train.head(100000), similar_user_number = 100, max_recommend_items = 12)
MAP12_cf = cf.MAP(recommend_items, X_test)